* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

body {
    overflow: hidden;
}

#canvas-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    cursor: grab;
    touch-action: none
}

#draw-canvas {
    display: block;
    background: #fff;
    border: 1px solid #ccc;
}

.canvas-actions {
    position: fixed;
    top: 10px;
    right: 10px;
    margin: 1rem;
    z-index: 100;
}

.stroke-actions {
    position: fixed;
    bottom: 10px;
    right: 10px;
    margin: 1rem;
    z-index: 100;
}

.zoom-actions {
    position: fixed;
    bottom: 10px;
    left: 10px;
    margin: 1rem;
    z-index: 100;
}

.canvas-actions button,
.stroke-actions button,
.zoom-actions button {
    padding: 0.8rem;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

h1 {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
    margin: 1rem;
    color: #333;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}